.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  width: 25px;
  height: 25px;
  border: 5px solid gray;
  border-radius: 50%;
  border-left-color: transparent;
  animation: loader 1s infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  background-color: aliceblue;
}
.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.loader {
  font-size: 24px;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.centered-table {
  border-collapse: collapse;
  margin: auto;
}

th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th {
  background-color: rgb(129, 164, 195);
  color: white;
  text-align: center;
}
